.table-container {
  max-height: 400px;
  overflow-y: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

.data-table {
  border-collapse: collapse;
  width: calc(100% - 600px);
  margin: 0 auto auto;
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(232, 217, 217);
  align-self: center;
}

.search-bar-table {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.data-table th,
.data-table td {
  padding: 8px;
  text-align: left;
}

.table {
  border-radius: 10px;
}

.data-table th {
  background-color: #8a251d;
  color: #f5f5f5;
}

.data-table tr:hover {
  background-color: rgb(218, 201, 201);
}

.data-table thead th:first-child {
  border-top-left-radius: 10px;
}

.data-table thead th:last-child {
  border-top-right-radius: 10px;
}

.data-table tr.selected {
  border: 2px solid #8a251d;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(218, 201, 201);
}

.title-tbl {
  text-align: left;
  margin: 10px 20px 30px 320px;
  font-weight: 600;
  color: #5e1914;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: "Work Sans", sans-serif;
}

.view-all-page {
  padding: 20px;
  min-height: 80vh;
  background-image: url(../img/poz-01.jpg);
}

.buttons-container {
  padding: 40px 20px 0 0;
  display: flex;
  flex-direction: row-reverse;
}

.btn-owner {
  margin: 0 300px 0 40px;
  padding: 0;
  width: 150px;
  height: 45px;
  font-size: 18px;
}

/* Add owner */

.owner-add-page {
  display: flex;
  background-color: #f5f5f5;
}

.add-owner-btncontainer {
  margin-top: 30px;
}

.btn-add-owner {
  margin: 0;
}

.form-container-add-owner {
  display: flex;
  border: 3px solid #8a251d;
  border-radius: 10px;
  margin: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(232, 217, 217);
}

.form-left-add-owner {
  flex: 1;
  height: fit-content;
  padding: 50px;
}

.form-right-add-owner {
  flex: 1;
  margin-left: 50px;
}

.form-image-add-owner {
  width: 100%;
  size: 500px;
  border-radius: 0 8px 8px 0;
}

.form-group-add-owner {
  margin-bottom: 20px;
}

.label-add-owner {
  display: block;
  font-size: 17px;
  font-weight: 500;
  color: #450c08;
}

.form-group-add-owner label.focused-label {
  color: #8a251d;
  font-weight: 550;
  font-size: 1.2em;
}

.form-group-add-owner input:focus {
  outline-color: #8a251d;
}

.input-add-owner {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-left-add-owner input:focus {
  outline-color: #8a251d;
}

/* Owner details */

.owner-details-page {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../img/poz-01.jpg);
}

.owner-details {
  max-width: 600px;
  min-width: fit-content;
  border: 3px solid #8a251d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 50px;
  background-color: rgb(232, 217, 217);
}

.owner-details-header {
  /* border-bottom: 2px solid #8a251d; */
  padding: 30px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); */
}

.owner-details h2 {
  margin-top: 0;
  color: #8a251d;
  margin-bottom: 30;
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.owner-details-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.field-owner-details {
  margin-bottom: 15px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: baseline !important;
}

.field-owner-details label {
  font-size: 17px;
  font-weight: 500;
  color: #450c08;
}

.field-owner-details label.focused-label {
  color: #8a251d;
  font-weight: 550;
  font-size: 1.2em;
}

.field-owner-details input:focus {
  outline-color: #8a251d;
}

.owner-details-content [type="text"],
input[type="email"],
input[type="date"] {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons-owner-details {
  margin-top: 20px;
  display: flex;
}

.btn-owner-details {
  margin: 20px 0px 0 0px;
  padding: 10px;
  width: fit-content;
}

.btn-back {
  align-self: flex-start;
  position: absolute;
  bottom: 50px;
  left: 20px;
}
