.pet-page {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 30px 80px 30px 90px;
  min-height: 90vh;
  background-color: #f5f5f5;
  flex-wrap: wrap;
}

.card-pet {
  width: 18rem;
  margin: 10px 30px 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
}

.card-pet:hover {
  border: 3px solid #5e1914;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.card-pet img {
  width: auto;
  height: 360px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 1rem;
  text-align: center;
}

.card-title {
  color: #5e1914;
  margin-bottom: 0;
  font-size: 25px;
  text-decoration: none !important;
}

/* Pet details CSS */

.pet-details {
  display: flex;
  justify-content: center;
  padding: 30px 100px 100px 100px;
  background-color: #f5f5f5;
}

.container-pet-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;

  width: 100%;
  padding: 50px 70px 40px 100px;
  border-radius: 10px;
  background-color: rgb(232, 217, 217);
}

.pet-image img {
  max-width: 100%;
  max-height: 500px;
  min-height: 400px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
}

.pet-info {
  margin-left: 80px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
}

.pet-info-info {
  align-items: flex-start;
  min-height: 500px;
}

.pet-info h2 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 90px;
  color: #5e1914;
}

.pet-info-info p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  color: #5e1914;
}

.pet-info-info p span {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #5e1914;
}

/* HEART */

.button {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: background 0.5s ease;
  margin-right: 30px;
}

.button:hover {
}

.active#heart:before,
.active#heart:after {
  background: #5e1914 !important;
}

#heart {
  width: 100px;
  height: 90px;
  transition: background 0.5s ease;
}

#heart:before,
#heart:after {
  transition: background 0.5s ease;
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: dimgrey;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/* SELECT */

.see-pets {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column !important;
  position: relative;
}

.custom-select {
  position: relative;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.custom-select-pet-add {
  position: relative;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 0.8px solid rgb(204, 204, 204);
}

.select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.options {
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  background-color: #fff;
  z-index: 10;
  border-radius: 5px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #9d6964;
  color: #f5f5f5;
}

see-pets .custom-select {
}

/* PetAdd.css */

.add-pet-page {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.pet-add-form {
  width: 600px;
  margin: 50px 0 0 0;
  padding: 20px;
  border: 3px solid #8a251d;
  border-radius: 8px;
  background-color: rgb(232, 217, 217);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pet-add-header {
  margin-bottom: 30px;
  color: #8a251d;
  font-size: 50 !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.pet-add-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group-add-pet {
  margin-bottom: 20px;
}

.btn-add-pet {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #8a251d;
  color: #fff;
}

.btn-add-pet:hover {
  background-color: #6c1d17;
}

.input-pet-prime {
  width: 300px !important;
}

.input-pet-text {
  width: 200px !important;
}

.input-pet-num {
  width: 70px;
  height: auto;
}

.pet-input label.focused-label {
  color: #8a251d;
  font-weight: 550;
  font-size: 1.2em;
  margin-bottom: 7px;
}

.pet-input label {
  margin-bottom: 10px;
}

.inputs-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pet-add-btn-container {
  margin-top: 20px;
  align-self: flex-end;
  padding-right: 30px;
  padding-bottom: 10px;
}

.checks {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.custom-button-file {
  background-color: #f5f5f5;
  color: #5e1914;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: 450;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-button-file:hover {
  background-color: #8a251d;
  color: #f5f5f5;
}

/* checkbox-styles.css */

.checkbox-wrapper-23 *,
.checkbox-wrapper-23 *:after,
.checkbox-wrapper-23 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-23 input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-23 input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-23 input:focus + label {
  transform: scale(1.03);
}

.checkbox-wrapper-23 input + label {
  display: block;
  border: 2px solid #dedede;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #fff;
}

.checkbox-wrapper-23 input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}

.checkbox-wrapper-23 input + label svg {
  pointer-events: none;
  padding: 5%;
}

.checkbox-wrapper-23 input + label svg path {
  fill: none;
  stroke: #5e1914;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}

.checkbox-wrapper-24 *,
.checkbox-wrapper-24 *:after,
.checkbox-wrapper-24 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-24 input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-24 input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-24 input:focus + label {
  transform: scale(1.03);
}

.checkbox-wrapper-24 input + label {
  display: block;
  border: 2px solid #dedede;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #fff;
}

.checkbox-wrapper-24 input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}

.checkbox-wrapper-24 input + label svg {
  pointer-events: none;
  padding: 5%;
}

.checkbox-wrapper-24 input + label svg path {
  fill: none;
  stroke: #5e1914;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}

.btn-tbl {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 30px;
  font-size: 15px;
  font-weight: 450;
}

/* Pet details modal */
.pet-input-details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 10px;
}

.age {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.pet-size {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* Liked pets page */

.no-liked-pets {
  background-image: url("../img/poz-01.jpg");
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-no-liked {
  width: 400px;
  height: 200px;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgb(232, 217, 217);
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5e1914;
  text-align: center;
}

.modal-no-liked p {
  font-size: 20px;
  font-weight: 500;
}

/* ALERT */

.btn:first-child:active {
  border-color: transparent;
}

.btn.active {
  border-color: transparent;
}

.popover {
  --bs-popover-bg: #f5f5f5;
  border: none;
  box-shadow: 0px 0px 8px rgba(40, 7, 7, 0.25);
  color: rgb(232, 217, 217);
}

.popover-body {
  --bs-popover-bg: rgba(255, 233, 233, 0.9);
  color: #5e1914;
  font-weight: 400;
  font-size: 16px;
}

.popover-header {
  background: #5e19147b;
  font-size: 18px !important;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.pop-link:hover {
  outline: none;
  font-size: 1.15em;
}

.pop-link {
  text-decoration: none;
  color: #5e1914;
  transition: font-size 0.3s;
}
